@tailwind base;
@tailwind components;
@tailwind utilities;


/* blue - #9AD2CB
/* green - #D7EBBA
/* cream - #FEFFBE
/* vanilla - #EBD494
/* eggplant = #472836
*/

.rotate180 {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.rotateback {
    transition: transform 0.5s ease;
}