@tailwind base;
@tailwind components;
@tailwind utilities;

/* notes */
/* as a rule of thumb, try and keep py to  container divs and px to components */

/*
#631D76 - eminence
#9E4770 - magenta haze
#FBFBFB - white
#2E2532 - raisin black
#201A23 - also raising black? (darker)
*/

* {
    /* font-family:'Andale Mono', monospace; */
    box-sizing: border-box;
}
.text-primary {
    color: #201A23
}


/*
.rotate180 {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.rotateback {
    transition: transform 0.5s ease;
}
    */